<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MailbirdTest.MailBird" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        <MailbirdTest.MailBird>
            <setting name="SupportedHosts" serializeAs="String">
                <value>[{
"provider":"Gmail",
"url":"mail.google.com"
},
{
"provider":"Yahoo",
"url":"mail.google.com"
},
{
"provider":MSN",
"url":"mail.google.com"
}]</value>
            </setting>
            <setting name="MaxConnectionPerHost" serializeAs="String">
                <value>5</value>
            </setting>
        </MailbirdTest.MailBird>
    </userSettings>
</configuration>